div {
  text-align: center;
}

.status {
  font-size: 200px;
  margin: 20px;
  font-weight: bold;
}

.message1 {
  font-size: 50px;
}

.message2 {
  font-size: 25px;
}

img {
  width: 200px;
  height: 200px;
  text-align: right;
}
